.App {
  text-align: center;
  font-family: "Source Sans Pro", "Noto Sans JP", sans-serif;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  margin-right: 20px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  border-bottom: 1px solid #dcdcdd;
  padding: 0 20px;
}

.logo-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.title {
  color: #5f6368;
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  font-size: 50px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #dcdcdd;
  text-align: center;
  padding: 10px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #afb2b3;
  font-weight: 100;
}

.input-button {
  background-color: #3b8ef0;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.results {
  margin: 30px;
}

.result {
  display: flex;
  flex-wrap: wrap;
}

.word-sentence {
  flex: 1;
  border: 1px solid #dcdcdd;
  margin: 10px;
  padding: 15px;
  min-width: 250px;
}

.word-sentence-title {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.word-sentence-title .word-sentence-description {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -125px;
  opacity: 0.75;
  min-width: 250px;
}

.word-sentence-title .word-sentence-description::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.word-sentence-title:hover .word-sentence-description {
  visibility: visible;
}

.word-sentence-word {
  color: #5f6368;
  font-size: 28px;
  line-height: 2;
}

.sentences-label {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 5px;
}

.word-sentence-sentences {
  margin: 0;
  padding: 0 0 0 20px;
}

.word-sentence-sentence {
  text-align: left;
  line-height: 1.5;
}

.not-found {
  font-size: 16px;
  line-height: 2;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #3b8ef0;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #3b8ef0;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #3b8ef0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #3b8ef0;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

.loading {
  margin-top: 30px;
  line-height: 2;
}

.loading-text {
  color: #5f6368;
}
